#start-screen {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button {
    border: 2px solid;
    color: white;
    background-color: purple;
}

#answers {
    border: 2px solid;
    color: white;
    background-color: purple;
}

body.div {
    justify-content: center;
    align-items: center;
}

#question-screen {
    display: none;
}

#end-screen {
    display: none;
}

#timer {
    position: fixed;
    right: 0px; top: 0px;
}

